.main-image {
background: url(img/strawberies.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}


.nav > li > a {
  display: inline-block;
}

a.navbar-brand {
  padding: 15px 15px;
  display: block;
}

div.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.nav > li > a {
  padding: 10px 10px 10px 15px;
}